html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #bdc3c7;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 940px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.content .owl_carousel img {
  display: inline-block;
  width: 750px;
  height: 500px;
  margin-bottom: 10px;
}

.header {
  background-color: #27ae61;
}

.top-header {
  padding-bottom: 25px;
}

.logo {
  display: inline-block;
  padding-top: 21px;
  padding-left: 60px;
}

.logo a img {
  width: 250px;
  height: 100px;
}

.menu {
  float: right;
  padding-right: 60px;
  padding-top: 33px;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  padding-left: 12px;
}

.menu a {
  text-decoration: none;
  color: #F9F9F9;
  font-size: 14px;
  font-weight: 700;
}

.top_text span {
  font-weight: 300;
}

.btn {
  padding-bottom: 89px;
  text-align: center;
}

.btn a {
  font-weight: 800;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  background-color: #2ecc71;
  padding: 11px 66px;
  border-radius: 5px;
}

.footer {
  height: 89px;
  background-color: #444;
  width: 940px;
  margin: -89px auto 0;
}

.footer_left {
  padding-left: 60px;
  display: inline-block;
  color: #4169E0;
  padding-top: 36px;
}

.footer_right {
  float: right;
  padding-right: 60px;
  font-size: 11px;
  font-weight: 300;
  color: #989898;
  padding-top: 36px;
}

.footer-left ul {
  list-style-type: none;
}

.footer_left li {
  display: inline-block;
}

.footer_left a {
  font-size: 11px;
  color: #989898;
  text-decoration: none;
  font-weight: 300;
}

.footer_left a::before {
  color: #f9f9f9;
  font-size: 16px;
  padding-right: 10px;
  content: "\f082";
  font-family: FontAwesome;
}

.footer_left ul li:nth-child(2) a::before {
  content: "\f081";
  padding-left: 13px;
}

.footer_left ul li:last-child a::before {
  content: "\f17d";
  padding-left: 13px;
}

.box_footer {
  height: 89px;
}

.content_about {
  background-color: #ecf0f1;
}

.head_text h3 {
  padding-top: 85px;
  color: #444;
  font-size: 25px;
  text-align: center;
}

.fly {
  padding: 33px 0px;
  text-align: center;
}

.about_box {
  text-align: center;
}

.about_box h3 {
  color: #444;
  font-size: 25px;
  padding-bottom: 40px;
}

.btn b {
  font-weight: 800;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  background-color: #2ecc71;
  padding: 11px 66px;
  border-radius: 5px;
}

.content {
  background-color: #ecf0f1;
}

.items {
  display: inline-block;
  margin: 0px 0px;
  padding-top: 21px;
  padding-left: 22px;
  height: 133px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.btn d {
  border: 2px solid #989a9a;
  font-size: 17px;
  text-decoration: none;
  padding: 11px 66px;
  border-radius: 5px;
}

.head_text1 {
  text-align: center;
  padding-top: 423px;
  padding-bottom: 60px;
  color: #444;
  font-size: 25px;
}

.text1 {
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
}

.item1 {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 21px;
  cursor: pointer;
  position: relative;
}

.item11 {
  padding-right: 300px;
  padding-bottom: 66px;
}

.about_box {
  background-color: #ecf0f1;
}

.tools1 {
  padding-top: 72px;
  cursor: pointer;
}
