.zamer_class {
  background-image: url("../img/img_fon.jpg");
  min-height: 860px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.zamer_class .flex_container {
  display: flex;
  justify-content: center;
}

.zamer_class .flex_container .flex_element {
  display: flex;
  flex-direction: column;
}

.zamer_class .flex_container .flex_element .element_text_centre {
  justify-content: center;
  display: flex;
}

.zamer_class .flex_container .flex_element .element_text_centre h4 {
  text-decoration: none;
  font-family: 'Gilroy-ExtraBold', sans-serif;
  display: flex;
  color: #fff;
  font-size: 56px;
  padding-top: 100px;
}

.zamer_class .flex_container .flex_element .left_element {
  display: flex;
}

.zamer_class .flex_container .flex_element .left_element h3 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  color: #fff;
  font-size: 18px;
  margin: 0px;
}

.zamer_class .flex_container .flex_element .left_element p {
  font-family: 'Gilroy-Light', sans-serif;
  width: 527px;
  height: 147px;
  color: #a2a2a2;
  font-size: 15px;
}

.zamer_class .flex_container .flex_element .box_form {
  padding-left: 90px;
}

.zamer_class .flex_container .flex_element .box_form input {
  background-color: rgba(78, 78, 78, 0.9);
  font-size: 16px;
  line-height: 44px;
  margin-bottom: 30px;
  border: 1px solid #878e5e;
  color: #fff;
}

.zamer_class .flex_container .flex_element .box_form .btn a {
  background-color: #878e5e;
  color: white;
  padding: 16px 103px;
  text-decoration: none;
}

.footer {
  background-color: #f9f9f9;
  padding-top: 120px;
}

.footer .flex_container_foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 112px;
}

.footer .flex_container_foot .centre_footer ul {
  list-style-type: none;
}

.footer .flex_container_foot .centre_footer ul li i {
  color: #878e5e;
}

.footer .flex_container_foot .centre_footer ul li span {
  font-size: 16px;
  color: #4e4e4e;
  text-decoration: none;
}

.footer .flex_container_foot .btn_footer a {
  background-color: #878e5e;
  text-decoration: none;
  padding: 10px 12px;
  color: #fff;
  font-family: 'Gilroy-Light', sans-serif;
}

.footer .flex_container_foot .info_foot {
  font-size: 16px;
  color: #4e4e4e;
  font-family: 'Gilroy-Light', sans-serif;
}

.footer .flex_container_foot .info_foot p:first-child {
  color: #878e5e;
  margin: 2px;
  padding-left: 35px;
}

.footer .flex_container_foot .info_foot p:nth-child(2) {
  margin: 0px;
  padding-left: 26px;
}

.footer .flex_container_foot .info_foot p:last-child {
  margin: 0px;
}

.footer_end {
  background-color: #454545;
  font-family: 'Gilroy-Light', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_end ul {
  list-style-type: none;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1920px) {
  /**/
}

@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1920px) {
  /**/
}
